lab4/Zadanie04_3_3/schemat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Database">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Osoba" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int" />
							<xs:element name="Imie" type="xs:string" />
							<xs:element name="Nazwisko" type="xs:string" />
							<xs:element name="Wiek" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>